{% extends 'myslambook/base.html' %}

{% block title %}My Slam Book : Success{% endblock %}

{% block body %}

<div class="container center-align">
        <div class="row">
            <div class="col s12">
                    <div class="row">
                        <br>
                        <br>
                        <strong><span>Hello {{name}}, your data has been submitted successfully</span></strong>
                    </div>
            </div>
        </div>
</div>

{% endblock %}